body {
    height: 100vh;
    background-color: #0f0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    /* height: 100vh; */
    width: 30%;
    /* text-align: center; */
    /* display: grid; */
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto;
    border-radius: 0.5rem;
}

#contact .form {
    width: 100%;
    position: relative;
}

#contact .form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 48px;
}

#contact .form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    border: 2px solid #8c8984;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    outline: none;
    background: none;
    padding: 0.6rem 1.25rem;
    border-radius: 0.5rem;


}

#contact .form__input:hover {
    border-color: #0f0;
}

#contact .form__input:focus {
    border-color: #8c8984;
}

#contact .form__input:active {
    background: none;
}

#contact .form__label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: #000;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in,
        font-size 200ms ease-in;
    background: #fff;
}

#contact .form__input:focus~.form__label,
#contact .form__input:not(:placeholder-shown).form__input:not(:focus) {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
}